footer {
    background-color: #C4C5BA;
    color: white;
    padding: 10px;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.social-media a {
    color: white;
    text-decoration: none;
}

.social-media img {
    width: 30px;
    height: 30px;
}