body {
    font-family: 'Baskerville', serif;
    margin: 0;
    padding: 0;
    background-color: #C4C5BA;
    color: #1B1B1B;
  }
  
  header {
    background-color: #595f39;
    color: #E4E4DE;
    padding: 10px;
    text-align: center;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

.profile-img {
    padding-top: 10px;
}

.section {
    background-color: #E4E4DE;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
  }